{% extends 'base.html' %}
{% load static %}

 {% block css_files %}
    <link rel="stylesheet" href="{% static "main/main.css" %}">
  {% endblock %}
{% block page_title %}

{% endblock %}

{% block content %}

<div class="header-container">
  <h2 class="booking-heading">Booking List</h2>
  <h3 class="welcome-heading">Hello {{ app_user }}</h3>
</div>
<table class="table table-bordered table-hover table-striped">
    <thead class="thead-dark">
    <tr>
        <th scope="col">User Name</th>
        <th scope="col">Room</th>
        <th scope="col">Equipment Name</th>
        <th scope="col">Date Required</th>
        <th scope="col">Shift</th>
        <th scope="col">Status</th>
        <th scope="col">Group</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>




    </tr>
    </thead>
    <tbody>
          {% if bookings %}
            {% for booking in bookings %}
                <tr>
                    <th scope="row">{{booking.user_name}}</th>
                    <th scope="row">{{booking.equip_name.room.room_name}}</th>
                    <th scope="row">{{booking.equip_name.equip_name}}</th>
                    <th scope="row">{{booking.start_date}}</th>
                    <th scope="row">{{booking.shift}}</th>
                    <th scope="row">{{booking.status}}</th>
                    <th scope="row">{{booking.group}}</th>
                    <td></td>

                     <td class="text-right">
                        <a href="{% url 'main_app:edit_booking' booking.id %}" class="btn btn-secondary">Edit</a>
                    </td>
                    {% if request.user.groups.all.0.name == 'Coordinator' %}
                    <td>
                        <a href="{% url 'main_app:delete_booking' booking.id %}" class="btn btn-secondary m1-2">Remove</a>
                    </td>
                    {% endif %}


                </tr>
            {% endfor %}

          {% endif %}


    </tbody>

</table>




{% endblock %}