{% load static %}
{% block css_files %}
    <link rel="stylesheet" href="{% static 'main/main.css' %}">
{% endblock %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'main_app:home' %}">SMI Lab Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'main_app:equip_list_search' %}">Equipment List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'main_app:booking' %}">Booking</a>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Calendars Pilot Plant
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'main_app:booking_calendar' 'Sample Prep' %}">Sample Prep</a>
          <a class="dropdown-item" href="{% url 'main_app:booking_calendar' 'Sizing Area' %}">Sizing Area</a>
          <a class="dropdown-item" href="{% url 'main_app:booking_calendar' 'Wet Area' %}">Wet Area</a>
          <a class="dropdown-item" href="{% url 'main_app:booking_calendar' 'Flotation Area' %}">Flotation Area</a>
          <a class="dropdown-item" href="{% url 'main_app:booking_calendar' 'Bond Ball Testing' %}">Bond Room</a>
          <a class="dropdown-item" href="{% url 'main_app:booking_calendar' 'Drop Weight Testing' %}">Drop Weight</a>
          <a class="dropdown-item" href="{% url 'main_app:booking_calendar' 'Annex' %}">Annex</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Calendars MCRF
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'main_app:booking_calendar' 'Flotation Lab 1' %}">Flotation Lab 1</a>
          <a class="dropdown-item" href="{% url 'main_app:booking_calendar' 'Flotation Lab 2' %}">Flotation Lab 2</a>
          <a class="dropdown-item" href="{% url 'main_app:booking_calendar' 'Flotation Chemistry' %}">Float Chem</a>
          <a class="dropdown-item" href="{% url 'main_app:booking_calendar' 'XRadia' %}">XRadia</a>
          <a class="dropdown-item" href="{% url 'main_app:booking_calendar' 'XRF' %}">XRF</a>
          <a class="dropdown-item" href="{% url 'main_app:booking_calendar' 'MCRF Prep' %}">MCRF Prep</a>
          <a class="dropdown-item" href="{% url 'main_app:booking_calendar' 'RM 121' %}">Room 121</a>
          <a class="dropdown-item" href="{% url 'main_app:booking_calendar' 'Cams' %}">Cams 108</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Calendars Ancil
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'main_app:booking_calendar' 'Ancillary' %}">Ancillary Equip</a>

        </div>
      </li>
      {% if request.user.groups.all.0.name == 'Coordinator' %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Settings
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

          <a class="dropdown-item" href="{% url 'main_app:add_user' %}">Users</a>
          <a class="dropdown-item" href="{% url 'main_app:add_equip_group' %}">Equipment Group</a>
          <a class="dropdown-item" href="{% url 'main_app:equip_list' %}">Equipment</a>
          <a class="dropdown-item" href="{% url 'main_app:status_choice' %}">Status choice</a>
          <a class="dropdown-item" href="{% url 'main_app:research_cent' %}">Centres</a>
          <a class="dropdown-item" href="{% url 'main_app:group' %}">Group</a>

          <a class="dropdown-item" href="{% url 'prestart_app:rotap_prestart' %}">Anything</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item dropdown-toggle" href="#" id="nestedDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Locations
          </a>
          <div class="dropdown-menu" aria-labelledby="nestedDropdown">
            <a class="dropdown-item" href="{% url 'main_app:building_list' %}">Building/Area</a>
            <a class="dropdown-item" href="{% url 'main_app:build_level' %}">Level</a>
            <a class="dropdown-item" href="{% url 'main_app:build_room' %}">Room</a>
          </div>
        </div>
       </li>
        {% endif %}
        {% if request.user.groups.all.0.name == 'Coordinator' %}
         <li class="nav-item">
            <a class="nav-link" href="{% url 'main_app:add_project' %}">Project</a>
        </li>
        {% elif request.user.groups.all.0.name == 'Business' %}
         <li class="nav-item">
            <a class="nav-link" href="{% url 'main_app:add_project' %}">Project</a>
        </li>
      {% endif %}
      <li class="nav-item">
            <a class="nav-link" href="{% url 'prestart_app:prestart_list' %}">Prestarts</a>
        </li>
      {% if request.user.groups.all.0.name == 'Coordinator' %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Reports
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'report_app:report_home' %}">Dashboard</a>
          <a class="dropdown-item" href="{% url 'report_app:report_jkmrc' %}">JKMRC</a>
          <a class="dropdown-item" href="{% url 'report_app:report_jktech' %}">JKTech</a>
          <a class="dropdown-item" href="">BRC</a>
          <a class="dropdown-item" href="">CMLR</a>
          <a class="dropdown-item" href="">CWMI</a>
          <a class="dropdown-item" href="{% url 'main_app:monthly_report_form' %}">Monthly Report</a>
          <a class="dropdown-item" href="{% url 'report_app:bookings_csv' %}">CSV Bookings</a>
          <a class="dropdown-item" href="{% url 'report_app:equipment_csv' %}">CSV Equipment</a>
          <a class="dropdown-item" href="{% url 'report_app:prestart_csv' %}">CSV Prestart</a>
        </div>
      </li>

      {% elif request.user.groups.all.0.name == 'Business' %}
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Reports
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'report_app:report_home' %}">Dashboard</a>
          <a class="dropdown-item" href="{% url 'report_app:report_jkmrc' %}">JKMRC</a>
          <a class="dropdown-item" href="{% url 'report_app:report_jktech' %}">JKTech</a>
          <a class="dropdown-item" href="">BRC</a>
          <a class="dropdown-item" href="">CMLR</a>
          <a class="dropdown-item" href="">CWMI</a>
          <a class="dropdown-item" href="{% url 'report_app:bookings_csv' %}">CSV Bookings</a>
        </div>
      </li>
      {% endif %}
      {% if request.user.groups.all.0.name == 'Coordinator' %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Samples
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'sample_app:sample_home' %}">Sample Dashboard</a>
          <a class="dropdown-item" href="{% url 'sample_app:add_sample' %}">Add Sample</a>
          <a class="dropdown-item" href="{% url 'sample_app:sample_location' %}">Sample Locations</a>
          <a class="dropdown-item" href="{% url 'sample_app:sample_client' %}">Sample Clients</a>
          <a class="dropdown-item" href="{% url 'sample_app:sample_client_site' %}">Sample Client Sites</a>
          <a class="dropdown-item" href="{% url 'sample_app:sample_client_contact' %}">Sample Client Contact</a>

        </div>
      </li>
      {% endif %}

    </ul>

    <span><a class="hello-msg" href="{% url 'main_app:logout' %}">Logout</a></span>
  </div>
</nav>


